
.bg-primary{
    background-color: rgb(250, 250, 250);
    background:  rgb(250, 250, 250);
    color:#FAFAFA;
  }
  
.bg-secondary{
    color:#FAFAFA;
    background-color:  rgb(19, 129, 74);
  }
  


.main-frame{
    background-color: #159957;
  }