
.bg-primary{
    background-color: #FAFAFA;
    background: #FAFAFA;
    color:#FAFAFA;
  }
  
.bg-secondary{
    color:#FAFAFA;
    background-color:  #45C484;
  }
  


.main-frame{
    background-color: #45C484;
  }